In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [4]:
test

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
train.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [6]:
test.columns

Index(['ID', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8', 'X10',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=377)

In [7]:
train.isnull().sum().sort_values(ascending=True)

ID      0
X262    0
X261    0
X260    0
X259    0
       ..
X125    0
X124    0
X123    0
X132    0
X385    0
Length: 378, dtype: int64

In [8]:
test.isnull().sum().sort_values(ascending=False)

ID      0
X255    0
X264    0
X263    0
X262    0
       ..
X128    0
X127    0
X126    0
X125    0
X385    0
Length: 377, dtype: int64

In [9]:
corrr=train.corr()
corrr.y

ID     -0.055108
y       1.000000
X10    -0.026985
X11          NaN
X12     0.089792
          ...
X380    0.040932
X382   -0.159815
X383    0.040291
X384   -0.004591
X385   -0.022280
Name: y, Length: 370, dtype: float64

In [10]:
train.dtypes.value_counts(),test.dtypes.value_counts()

(int64      369
 object       8
 float64      1
 dtype: int64,
 int64     369
 object      8
 dtype: int64)

In [11]:
obj=train.select_dtypes(include="object")
num=train.select_dtypes(include=np.number)
obj_test=test.select_dtypes(include="object")
num_test=test.select_dtypes(include=np.number)

In [12]:
y=train.y
y=pd.DataFrame(y)
y=y.astype('int')

In [13]:
num=num.drop("y",axis=1)

In [14]:
from sklearn.feature_selection import VarianceThreshold
var=VarianceThreshold(threshold=0)

In [15]:
var.fit(num)

VarianceThreshold(threshold=0)

In [16]:
var.get_support()

array([ True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True, False,
        True,  True,  True, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [17]:
constant=[column for column in num.columns if column not in num.columns[var.get_support()]]
print(len(constant))

12

In [18]:
num=num.drop(constant,axis=1)

In [19]:
num_test=num_test.drop(constant,axis=1)

In [20]:
len(num.columns),len(num_test.columns)

(357, 357)

In [21]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [22]:
col_list=num.columns
col_list_test=num_test.columns

In [23]:
num=ss.fit_transform(num)

In [24]:
num_test=ss.transform(num_test)

In [25]:
num

array([[-1.72565045, -0.11612161, -0.28490583, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-1.72318873, -0.11612161, -0.28490583, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [-1.72277844, -0.11612161, -0.28490583, ..., -0.04081511,
        -0.02180363, -0.03778296],
       ...,
       [ 1.72568262, -0.11612161,  3.50993166, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [ 1.72691348, -0.11612161, -0.28490583, ..., -0.04081511,
        -0.02180363, -0.03778296],
       [ 1.72773405, -0.11612161, -0.28490583, ..., -0.04081511,
        -0.02180363, -0.03778296]])

In [26]:
df=pd.DataFrame(num,columns=col_list)
df_test=pd.DataFrame(num_test,columns=col_list_test)

In [27]:
df

,ID,X10,X12,X13,X14,X15,X16,X17,X18,X19,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,-1.725650,-0.116122,-0.284906,4.031129,-0.865245,-0.021804,-0.051189,-0.087527,11.249242,-0.332497,...,-0.684167,-0.246447,1.475332,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
1,-1.723189,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,11.249242,-0.332497,...,1.461630,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
2,-1.722778,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,11.425027,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,11.425027,-0.040815,-0.021804,-0.037783
3,-1.721958,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4,-1.720317,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,1.722811,-0.116122,-0.284906,-0.248069,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,1.461630,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4205,1.723221,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,4.057675,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4206,1.725683,-0.116122,3.509932,4.031129,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,1.475332,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4207,1.726913,-0.116122,-0.284906,-0.248069,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4208,1.727734,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,1.461630,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783

In [28]:
df_test

,ID,X10,X12,X13,X14,X15,X16,X17,X18,X19,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,-1.725240,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,6.883263,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
1,-1.724830,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,3.007548,...,-0.684167,-0.246447,1.475332,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
2,-1.724420,-0.116122,-0.284906,-0.248069,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,6.883263,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
3,-1.724009,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,6.883263,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4,-1.723599,-0.116122,-0.284906,-0.248069,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,1.461630,-0.246447,-0.677814,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,1.724862,-0.116122,-0.284906,-0.248069,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4205,1.725272,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,3.007548,...,-0.684167,4.057675,-0.677814,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4206,1.726093,-0.116122,-0.284906,-0.248069,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,-0.677814,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4207,1.726503,-0.116122,-0.284906,4.031129,1.155741,-0.021804,-0.051189,-0.087527,-0.088895,-0.332497,...,-0.684167,-0.246447,1.475332,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4208,1.727324,-0.116122,-0.284906,-0.248069,-0.865245,-0.021804,-0.051189,-0.087527,-0.088895,3.007548,...,1.461630,-0.246447,-0.677814,-0.145280,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783

In [29]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [30]:
obj=obj.apply(le.fit_transform)

In [31]:
obj

      X0  X1  X2  X3  X4  X5  X6  X8
0     32  23  17   0   3  24   9  14
1     32  21  19   4   3  28  11  14
2     20  24  34   2   3  27   9  23
3     20  21  34   5   3  27  11   4
4     20  23  34   5   3  12   3  13
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   8  20  16   2   3   0   3  16
4205  31  16  40   3   3   0   7   7
4206   8  23  38   0   3   0   6   4
4207   9  19  25   5   3   0  11  20
4208  46  19   3   2   3   0   6  22

[4209 rows x 8 columns]

In [32]:
obj_test=obj_test.apply(le.fit_transform)

In [33]:
obj_test

      X0  X1  X2  X3  X4  X5  X6  X8
0     21  23  34   5   3  26   0  22
1     42   3   8   0   3   9   6  24
2     21  23  17   5   3   0   9   9
3     21  13  34   5   3  31  11  13
4     45  20  17   2   3  30   8  12
...   ..  ..  ..  ..  ..  ..  ..  ..
4204   6   9  17   5   3   1   9   4
4205  42   1   8   3   3   1   9  24
4206  47  23  17   5   3   1   3  22
4207   7  23  17   0   3   1   2  16
4208  42   1   8   2   3   1   6  17

[4209 rows x 8 columns]

In [34]:
df=pd.concat([obj,df],axis=1)

In [35]:
df_test=pd.concat([obj_test,df_test],axis=1)

In [36]:
df

,X0,X1,X2,X3,X4,X5,X6,X8,ID,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32,23,17,0,3,24,9,14,-1.725650,-0.116122,...,-0.684167,-0.246447,1.475332,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
1,32,21,19,4,3,28,11,14,-1.723189,-0.116122,...,1.461630,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
2,20,24,34,2,3,27,9,23,-1.722778,-0.116122,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,11.425027,-0.040815,-0.021804,-0.037783
3,20,21,34,5,3,27,11,4,-1.721958,-0.116122,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4,20,23,34,5,3,12,3,13,-1.720317,-0.116122,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8,20,16,2,3,0,3,16,1.722811,-0.116122,...,1.461630,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4205,31,16,40,3,3,0,7,7,1.723221,-0.116122,...,-0.684167,4.057675,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4206,8,23,38,0,3,0,6,4,1.725683,-0.116122,...,-0.684167,-0.246447,1.475332,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4207,9,19,25,5,3,0,11,20,1.726913,-0.116122,...,-0.684167,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783
4208,46,19,3,2,3,0,6,22,1.727734,-0.116122,...,1.461630,-0.246447,-0.677814,-0.14528,-0.097952,-0.090243,-0.087527,-0.040815,-0.021804,-0.037783

In [37]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
lda=LinearDiscriminantAnalysis()

In [38]:
lda.fit(df,y)

C:\Users\pavan\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LinearDiscriminantAnalysis()

In [39]:
df_l=lda.transform(df)

In [40]:
df_tl=lda.transform(df_test)

In [41]:
df_l

array([[3.14510724e+14],
       [3.14510724e+14],
       [3.14510724e+14],
       ...,
       [3.14510724e+14],
       [3.14510724e+14],
       [3.14510724e+14]])

In [74]:
pip install light-famd

Collecting light-famd
  Downloading light_famd-0.0.3-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: numpy in c:\users\pavan\anaconda3\lib\site-packages (from light-famd) (1.20.1)
Requirement already satisfied: scikit-learn in c:\users\pavan\anaconda3\lib\site-packages (from light-famd) (0.24.1)
Requirement already satisfied: scipy in c:\users\pavan\anaconda3\lib\site-packages (from light-famd) (1.6.2)
Requirement already satisfied: pandas in c:\users\pavan\anaconda3\lib\site-packages (from light-famd) (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\pavan\anaconda3\lib\site-packages (from pandas->light-famd) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\pavan\anaconda3\lib\site-packages (from pandas->light-famd) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\pavan\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas->light-famd) (1.15.0)
Requirement already satisfied: joblib>=0.11 in c:\users\pavan\anaconda3\lib\site-packages (from scikit-learn->light-famd) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\pavan\anaconda3\lib\site-packages (from scikit-learn->light-famd) (2.1.0)
Installing collected packages: light-famd
Successfully installed light-famd-0.0.3
Note: you may need to restart the kernel to use updated packages.

In [75]:
from light_famd import FAMD
famd=FAMD(n_components=10)

In [68]:
exp=famd.fit_transform(train.drop("y",axis=1))
exp_test=famd.fit_transform(test)

In [69]:
exp

             0         1
0     2.968802 -1.382580
1     0.397301  0.101819
2     2.471973  5.304018
3     1.979504  5.720631
4     2.022373  5.715975
...        ...       ...
4204 -0.065193  0.032876
4205  2.466682 -0.929054
4206  0.141501  0.186940
4207 -0.403999  0.572587
4208 -0.413006 -0.209976

[4209 rows x 2 columns]

In [71]:
famd.row_coordinates(exp)

KeyError: "None of [Index(['X1', 'X4', 'X8', 'X5', 'X3', 'X6', 'X2', 'X0'], dtype='object')] are in the [columns]"

In [ ]:
ax = famd.plot_row_coordinates(
     train,
     ax=None,
     figsize=(6, 6),
     x_component=0,
     y_component=1,
     labels=train.index,
     ellipse_outline=False,
     ellipse_fill=True,
     show_points=True
 )
ax.get_figure()

In [61]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df_l, train.y, test_size=0.33)

In [43]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2820, 1), (1389, 1), (2820,), (1389,))

In [44]:
   models = {}

# Lasso Regression
from sklearn.linear_model import Lasso
models["LASSO"] = Lasso()

# ridge
from sklearn.linear_model import Ridge
models["ridge"] =Ridge()

# Decision Trees
from sklearn.tree import DecisionTreeRegressor
models["DCTREE"] = DecisionTreeRegressor()

# Random Forest
from sklearn.ensemble import RandomForestRegressor
models["RFR"] = RandomForestRegressor()

# GBR
from sklearn.ensemble import GradientBoostingRegressor
models["GBR"] = GradientBoostingRegressor()

# Light gbr
from lightgbm import LGBMRegressor
models["LGBR"] = LGBMRegressor()

#ADA BOOST
from sklearn.ensemble import AdaBoostRegressor
models["ADABOOST"] = AdaBoostRegressor()

In [45]:
from sklearn.metrics import r2_score,mean_absolute_error

In [46]:
r2_scores={}
mean_absolute_errors={}
RMSEs={}
for key in models.keys():
    # Fit the classifier
    models[key].fit(X_train, y_train)
    # Make predictions
    predictions = models[key].predict(X_test)
    # Calculate metrics
    r2_scores[key] = r2_score(predictions, y_test)
    mean_absolute_errors[key] = mean_absolute_error(predictions, y_test)
    RMSEs[key] = np.sqrt(mean_absolute_error(predictions, y_test))

C:\Users\pavan\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 210831.0134862021, tolerance: 45.22627015382624
  model = cd_fast.enet_coordinate_descent(

In [47]:
df_model = pd.DataFrame(index=models.keys(), columns=["r2_scores","mean_absolute_errors","RMSEs"])
df_model['r2_scores'] = r2_scores.values()
df_model['mean_absolute_errors'] = mean_absolute_errors.values()
df_model['RMSEs'] = RMSEs.values()

df_model

             r2_scores  mean_absolute_errors     RMSEs
LASSO     0.000000e+00             10.209586  3.195244
ridge     0.000000e+00             10.209586  3.195244
DCTREE   -7.994918e+29             10.209586  3.195244
RFR      -7.994756e+29             10.210266  3.195351
GBR      -7.994918e+29             10.209586  3.195244
LGBR     -7.994553e+29             10.211196  3.195496
ADABOOST  0.000000e+00             10.269365  3.204585

In [48]:
models

{'LASSO': Lasso(),
 'ridge': Ridge(),
 'DCTREE': DecisionTreeRegressor(),
 'RFR': RandomForestRegressor(),
 'GBR': GradientBoostingRegressor(),
 'LGBR': LGBMRegressor(),
 'ADABOOST': AdaBoostRegressor()}

In [49]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [50]:
model_lr=lr.fit(X_train,y_train)
model_lr.score(X_train,y_train)

0.010618289209158638