# Mercedes-Benz Greener Manufacturing

Following actions should be performed:

If for any column(s), the variance is equal to zero, then you need to remove those variable(s).
Check for null and unique values for test and train sets.
Apply label encoder.
Perform dimensionality reduction.
Predict your test_df values using XGBoost.

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [2]:
df_train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
df_train

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [4]:
test

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,aj,h,as,f,d,aa,j,e,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,t,aa,ai,d,d,aa,j,y,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,y,v,as,f,d,aa,d,w,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,ak,v,as,a,d,aa,c,q,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,t,aa,ai,c,d,aa,g,r,0,...,1,0,0,0,0,0,0,0,0,0

In [5]:
#by comparision between both train and test sets i think y is the dependent variable

In [6]:
#If for any column(s), the variance is equal to zero, then you need to remove those variable(s).

In [7]:
df_train.dtypes

ID        int64
y       float64
X0       object
X1       object
X2       object
         ...
X380      int64
X382      int64
X383      int64
X384      int64
X385      int64
Length: 378, dtype: object

In [8]:
test.dtypes

ID       int64
X0      object
X1      object
X2      object
X3      object
         ...
X380     int64
X382     int64
X383     int64
X384     int64
X385     int64
Length: 377, dtype: object

In [9]:
num_cols=df_train.select_dtypes(include=np.number)
num_cols_test=test.select_dtypes(include=np.number)

In [10]:
num_cols

,ID,y,X10,X11,X12,X13,X14,X15,X16,X17,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [11]:
num_cols_test

,ID,X10,X11,X12,X13,X14,X15,X16,X17,X18,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,3,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,5,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8410,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,8411,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8413,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,8414,0,0,0,1,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,8416,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [12]:
cat_cols=df_train.select_dtypes(include="object")
cat_cols_test=df_train.select_dtypes(include="object")

In [13]:
cat_cols

      X0 X1  X2 X3 X4  X5 X6 X8
0      k  v  at  a  d   u  j  o
1      k  t  av  e  d   y  l  o
2     az  w   n  c  d   x  j  x
3     az  t   n  f  d   x  l  e
4     az  v   n  f  d   h  d  n
...   .. ..  .. .. ..  .. .. ..
4204  ak  s  as  c  d  aa  d  q
4205   j  o   t  d  d  aa  h  h
4206  ak  v   r  a  d  aa  g  e
4207  al  r   e  f  d  aa  l  u
4208   z  r  ae  c  d  aa  g  w

[4209 rows x 8 columns]

In [14]:
cat_cols_test

      X0 X1  X2 X3 X4  X5 X6 X8
0      k  v  at  a  d   u  j  o
1      k  t  av  e  d   y  l  o
2     az  w   n  c  d   x  j  x
3     az  t   n  f  d   x  l  e
4     az  v   n  f  d   h  d  n
...   .. ..  .. .. ..  .. .. ..
4204  ak  s  as  c  d  aa  d  q
4205   j  o   t  d  d  aa  h  h
4206  ak  v   r  a  d  aa  g  e
4207  al  r   e  f  d  aa  l  u
4208   z  r  ae  c  d  aa  g  w

[4209 rows x 8 columns]

In [15]:
count=0
for i in num_cols:
    if df_train[i].var==0:
        zero_var_list = i
        print(zero_var_list)
    else:
        print("no var found equal to 0")
        count+=1

no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0
no var found equal to 0

In [16]:
count

370

In [17]:
#Check for null and unique values for test and train sets.

In [18]:
df_train.isnull().sum().sort_values(ascending=True)

ID      0
X262    0
X261    0
X260    0
X259    0
       ..
X125    0
X124    0
X123    0
X132    0
X385    0
Length: 378, dtype: int64

In [19]:
test.isnull().sum().sort_values(ascending=True)

ID      0
X262    0
X261    0
X260    0
X259    0
       ..
X125    0
X124    0
X123    0
X132    0
X385    0
Length: 377, dtype: int64

In [20]:
#no null values in both sets

In [21]:
numeric_unique=np.unique(num_cols)

In [22]:
numeric_unique

array([0.000e+00, 1.000e+00, 6.000e+00, ..., 8.412e+03, 8.415e+03,
       8.417e+03])

In [23]:
numeric_unique.shape

(6742,)

In [24]:
cat_unique=np.unique(cat_cols)

In [25]:
cat_unique

array(['a', 'aa', 'ab', 'ac', 'ad', 'ae', 'af', 'ag', 'ah', 'ai', 'aj',
       'ak', 'al', 'am', 'an', 'ao', 'ap', 'aq', 'ar', 'as', 'at', 'au',
       'av', 'aw', 'ax', 'ay', 'az', 'b', 'ba', 'bc', 'c', 'd', 'e', 'f',
       'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's',
       't', 'u', 'v', 'w', 'x', 'y', 'z'], dtype=object)

In [26]:
#Apply label encoder.

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
label=LabelEncoder()

In [29]:
cat_cols.shape,cat_cols_test.shape

((4209, 8), (4209, 8))

In [30]:
com=pd.concat([cat_cols,cat_cols_test],axis="rows")

In [31]:
com.shape

(8418, 8)

In [32]:
com=com.apply(label.fit_transform)

In [33]:
cat_cols_clean=com.iloc[0:4209,:]
cat_cols_test_clean=com.iloc[4209:,]

In [34]:
cat_cols_clean.shape,cat_cols_test_clean.shape

((4209, 8), (4209, 8))

In [35]:
train=pd.concat([cat_cols_clean,num_cols],axis="columns")
test=pd.concat([cat_cols_test_clean,num_cols_test],axis="columns")

In [36]:
train.shape,test.shape

((4209, 378), (4209, 377))

In [37]:
#Perform dimensionality reduction.

In [38]:
#because we have target variable y i choose LDA

In [39]:
target=train.y
train_t=train.drop(["y"],axis="columns")

In [40]:
target=target.astype("int")

In [41]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [42]:
lda=LinearDiscriminantAnalysis()

In [43]:
lda.fit(train_t,target)

LinearDiscriminantAnalysis()

In [44]:
lda_train=lda.transform(train_t)

In [45]:
lda_train=pd.DataFrame(lda_train)

In [46]:
lda_train

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,0.871490,-1.032157,0.061195,0.527805,3.006101,33.007418,61.687034,1.205869,-1.410818,4.744326,...,1.235189,-1.406670,0.043478,-1.195548,2.378899,-1.502741,2.193613,1.814401,-0.462643,0.885843
1,0.842014,0.876212,0.156420,-0.390386,0.016073,1.161970,-0.594593,0.400418,-0.513327,1.480752,...,-2.205451,-0.441845,-1.320549,-2.637172,-1.160833,1.746822,2.457313,1.275834,0.743186,-1.674902
2,-17.539417,-1.156197,-0.762536,0.022642,-10.567035,1.068772,-0.172267,-0.565469,0.267241,-4.279005,...,-0.735489,1.830324,0.083474,0.170174,1.170119,-0.371154,-2.247540,-0.750910,1.018401,-0.694956
3,-17.944148,-1.162504,1.099385,0.034300,11.063327,-0.251675,0.919557,-0.390075,14.340334,-23.134712,...,-8.577637,2.190830,1.648804,-4.107541,-2.982327,-2.685110,-0.519077,0.091230,-2.956399,1.213081
4,-16.042829,-1.181879,0.511356,0.050953,0.700968,0.145351,0.688366,-0.324187,6.820768,-9.764869,...,-3.735339,0.100416,0.802132,-2.370075,-3.127924,-2.117154,1.180130,1.561263,-2.420573,1.255852
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0.910067,-1.695966,0.110629,0.613562,-0.234207,0.323808,0.809538,-0.326546,0.482991,-0.275196,...,-0.189167,1.722540,-0.624695,0.315504,-1.936121,0.193320,-0.903185,0.289640,0.823123,-0.823487
4205,1.015541,-2.360494,0.413593,-0.197644,-0.106747,0.173941,-0.136157,-0.195264,0.108106,-0.383692,...,-1.460907,-0.766562,-0.771499,-0.023035,-0.044599,0.913752,0.232798,0.600777,-1.747504,-0.383901
4206,1.021432,-2.105027,0.284892,-0.312656,-0.013196,0.265746,-0.236403,-0.099527,-0.187361,-0.032736,...,0.154557,0.544994,0.359618,0.640150,-0.065272,-0.026770,-2.074563,-1.023396,0.050736,1.911907
4207,0.076605,2.064761,-0.917161,0.061248,-0.105486,-0.206080,-0.486242,-0.089998,0.492088,0.051720,...,-0.209759,0.242291,0.386416,-0.018527,-0.685888,0.123084,-0.762603,0.864049,0.669589,0.924708
4208,0.592676,1.416094,-0.514598,-0.156863,0.011084,-0.069347,-0.073400,0.626645,0.125983,0.167282,...,-0.219263,-0.357002,-0.706007,-0.865751,-0.695494,-0.276488,0.089520,0.694831,0.288228,0.342306

In [47]:
lda_test=lda.transform(test)

In [48]:
lda_test=pd.DataFrame(lda_test)

In [49]:
lda_test

,0,1,2,3,4,5,6,7,8,9,...,76,77,78,79,80,81,82,83,84,85
0,-14.759432,-2.780737,0.442356,1.871395,8.046046,36.497177,59.603546,-14.249882,0.988277,7.393017,...,2.166475,0.154975,-0.621590,3.107213,6.904581,2.290877,4.318304,0.307695,-1.229530,-3.811453
1,0.703183,0.553095,-0.253882,0.953991,3.458586,29.989505,60.030733,6.317063,45.056543,47.927834,...,-0.410243,0.938457,-1.539970,3.955716,4.855099,5.372138,1.883267,2.248962,-1.979029,2.723393
2,-16.987914,-2.817314,2.143712,1.078129,-8.960177,33.189210,62.379816,0.672229,-0.154007,3.922446,...,0.788410,-0.615511,-2.524555,2.236578,5.454247,4.253642,1.659703,2.624832,-4.374000,-0.989462
3,-16.411715,-0.410100,1.545424,0.120833,4.406915,-0.058443,0.896620,-0.288638,7.978280,-10.927788,...,-3.959179,-0.909681,0.372796,-2.244562,-1.832128,0.333604,1.148344,0.520319,-1.910432,0.391654
4,1.196089,-2.327501,-0.489118,-0.430559,1.619678,0.693188,-0.225670,0.316285,0.415171,-0.391772,...,-0.775386,1.879838,0.953328,-0.484924,-0.449758,1.454571,0.973375,-0.394185,-0.723925,1.630966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,1.176706,0.355445,0.537188,-0.173073,-0.693713,-2.842625,1.536591,-1.393778,-0.561569,0.508632,...,0.353895,0.136335,-0.749231,2.241077,0.872851,-1.616486,-0.950504,1.319113,-0.080670,0.334665
4205,0.382990,1.676323,-0.066817,-0.199343,0.791434,-0.552106,0.104476,-0.455130,0.112194,-0.255118,...,0.411650,0.018319,-1.315421,1.309400,2.926934,-0.248859,-0.569430,2.562915,-0.838817,1.287845
4206,0.328949,1.917111,-0.951972,0.027425,0.224752,-0.460437,0.446421,0.167979,0.579107,-0.088154,...,-0.218612,-0.117163,-1.308258,-0.200289,-0.194005,-0.538898,-0.145311,1.256610,-0.200787,1.349535
4207,0.885087,-2.169793,-0.151927,-0.491163,0.251917,-0.278436,0.099414,-0.477724,-0.337664,-0.152536,...,0.279275,-0.643080,1.040882,0.331997,0.789008,0.329460,0.046841,-1.068477,-0.292959,2.450736
4208,0.613283,1.876995,-0.403915,-0.068687,-0.698448,0.730491,-0.188093,0.334334,0.600512,-0.473563,...,0.288185,0.219938,0.526430,1.070937,-0.599866,-0.932126,-0.452501,-0.713319,-0.422385,-1.383928

In [50]:
#Predict your test_df values using XGBoost.

In [51]:
from xgboost import XGBClassifier

In [52]:
xg=XGBClassifier()

In [53]:
model=xg.fit(lda_train,target)

C:\Users\pavan\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[16:34:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [54]:
model.score(lda_train,target)

1.0

In [55]:
y_pred=model.predict(lda_test)

In [56]:
y_pred

array([130,  96,  76, ...,  94, 106,  92])

In [57]:
target.unique()

array([130,  88,  76,  80,  78,  92, 128,  91, 108, 126, 102,  98,  82,
        94,  99,  93, 106, 114,  89,  90, 120,  84, 104, 107, 117,  79,
       110, 101, 139,  85, 116, 119,  97,  95,  87, 111, 109, 118, 113,
       100,  96,  73, 115, 127, 112, 105, 121, 136,  77, 146, 132, 134,
       103, 122, 150,  74,  86, 169, 154, 129,  75, 123, 124, 131, 147,
       140, 265, 158,  83, 141, 125, 137, 144, 149, 160, 133, 152, 142,
       135, 167,  81,  72, 148, 153, 138, 165, 155])