In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [3]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [4]:
q1=train.y.quantile(0.25)
q3=train.y.quantile(0.75)
lower_wisker=q1-1.5*(q3-q1)
upper_wisker=q3+1.5*(q3-q1)

In [5]:
outlier_index = train[(train.y > upper_wisker)].index
outlier_index

Int64Index([  43,  203,  216,  253,  342,  420,  429,  681,  846,  883,  889,
             900,  995,  998, 1033, 1036, 1060, 1141, 1203, 1205, 1269, 1279,
            1349, 1459, 1730, 2240, 2263, 2348, 2357, 2376, 2414, 2470, 2496,
            2735, 2736, 2852, 2887, 2888, 2905, 2983, 3028, 3090, 3133, 3177,
            3215, 3442, 3744, 3773, 3980, 4176],
           dtype='int64')

In [6]:
train = train.drop(outlier_index)

In [7]:
y=train.y
x=train.drop(["y","ID"],axis=1)

In [8]:
test=test.drop("ID",axis=1)

In [9]:
x_num=x.select_dtypes(include=np.number)
x_obj=x.select_dtypes(exclude=np.number)
cat_var=x_obj.columns
num_var=x_num.columns

In [10]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder(handle_unknown="use_encoded_value",unknown_value=np.NAN)
oe.fit(x_obj)

OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=nan)

In [11]:
x[cat_var]=oe.transform(x[cat_var])

In [12]:
test[cat_var]=oe.transform(test[cat_var])

In [13]:
x.isnull().sum().sort_values(ascending=False)

X0      0
X255    0
X264    0
X263    0
X262    0
       ..
X128    0
X127    0
X126    0
X125    0
X385    0
Length: 376, dtype: int64

In [14]:
test.isnull().sum().sort_values(ascending=False)

X2      14
X0       6
X5       4
X256     0
X265     0
        ..
X129     0
X128     0
X127     0
X126     0
X385     0
Length: 376, dtype: int64

In [15]:
x

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,32.0,23.0,16.0,0.0,3.0,24.0,9.0,14.0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,32.0,21.0,18.0,4.0,3.0,28.0,11.0,14.0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,20.0,24.0,33.0,2.0,3.0,27.0,9.0,23.0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,20.0,21.0,33.0,5.0,3.0,27.0,11.0,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20.0,23.0,33.0,5.0,3.0,12.0,3.0,13.0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8.0,20.0,15.0,2.0,3.0,0.0,3.0,16.0,0,0,...,1,0,0,0,0,0,0,0,0,0
4205,31.0,16.0,39.0,3.0,3.0,0.0,7.0,7.0,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,8.0,23.0,37.0,0.0,3.0,0.0,6.0,4.0,0,0,...,0,0,1,0,0,0,0,0,0,0
4207,9.0,19.0,24.0,5.0,3.0,0.0,11.0,20.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4208,46.0,19.0,2.0,2.0,3.0,0.0,6.0,22.0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [16]:
test

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X11,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,20.0,23.0,33.0,5.0,3.0,NaN,0.0,22.0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,40.0,3.0,6.0,0.0,3.0,NaN,6.0,24.0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,20.0,23.0,15.0,5.0,3.0,NaN,9.0,9.0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,20.0,13.0,33.0,5.0,3.0,NaN,11.0,13.0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,43.0,20.0,15.0,2.0,3.0,28.0,8.0,12.0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,7.0,9.0,15.0,5.0,3.0,0.0,9.0,4.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4205,40.0,1.0,6.0,3.0,3.0,0.0,9.0,24.0,0,0,...,0,1,0,0,0,0,0,0,0,0
4206,45.0,23.0,15.0,5.0,3.0,0.0,3.0,22.0,0,0,...,0,0,0,0,0,0,0,0,0,0
4207,8.0,23.0,15.0,0.0,3.0,0.0,2.0,16.0,0,0,...,0,0,1,0,0,0,0,0,0,0
4208,40.0,1.0,6.0,2.0,3.0,0.0,6.0,17.0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [17]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy="median")

In [18]:
si.fit(x)

SimpleImputer(strategy='median')

In [19]:
x=si.transform(x)
test=si.transform(test)

In [20]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [21]:
ss.fit(x)

StandardScaler()

In [22]:
x=ss.transform(x)
test=ss.transform(test)

In [23]:
from sklearn.feature_selection import SelectKBest,mutual_info_regression

In [24]:
sel = SelectKBest(mutual_info_regression, k=30).fit(x, y)

In [25]:
x=sel.transform(x)

In [26]:
test=sel.transform(test)

In [27]:
x1=pd.DataFrame(x)

In [28]:
test=pd.DataFrame(test)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split( x, y, test_size=0.33, random_state=42)

In [31]:
from sklearn.linear_model import LinearRegression
lin=LinearRegression()

In [32]:
lin.fit(X_train,y_train)

LinearRegression()

In [33]:
lin.score(X_train,y_train)

0.6268009459684252

In [34]:
ypred=lin.predict(X_test)

In [35]:
lin.score(X_test,y_test)

0.6309362878789042

In [36]:
ypred=lin.predict(test)

In [37]:
sub=pd.read_csv("sample_submission.csv")

In [38]:
ypred=pd.DataFrame(ypred)

In [39]:
ypred.columns

RangeIndex(start=0, stop=1, step=1)

In [40]:
sub.columns

Index(['ID', 'y'], dtype='object')

In [41]:
linreg=[]

In [42]:
linreg=pd.concat([sub.ID],axis=1)

In [43]:
linreg["y"]=ypred

In [44]:
linreg.to_csv("linreg.csv")